/include/ "system-conf.dtsi"
/ {
};
&amba_pl{
	axidma_chrdev: axidma_chrdev@0 {
		compatible = "xlnx,axidma-chrdev";
		dmas = <&axi_dma_0 0 >;
		dma-names = "rx_channel";
    };
};

&axi_dma_0{
	dma-channel@40400000 {
		xlnx,device-id = <0x0>;
    };
};
&axi_quad_spi_0 {
    status = "okay";
    clock-names = "axi_clk", "axi4_clk", "spi_clk";
    clocks = <&clkc 15>, <&clkc 15>, <&clkc 15>; 
    spi0_dev_0@0 {
        compatible = "spidev";
        reg = <0>;
        spi-max-frequency = <500000>;
        #address-cells = <1>;
        #size-cells = <1>;
    };

    spi0_dev_1@1 {
        compatible = "spidev";
        reg = <1>;
        spi-max-frequency = <500000>;
        #address-cells = <1>;
        #size-cells = <1>;
    };       
}; 

